body{
    	background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("https://wallpaperplay.com/walls/full/6/3/7/58401.jpg");
    	background-position: center;
	    background-repeat: no-repeat;
    
}



/*.container{*/
/*     background-color: black;*/
/*     height: 500px;*/
/*     width: 500px;*/
/*}*/

/*.grey{*/
/*    background-color: grey;*/
/*    height: 20%;*/
/*}*/
/*.white{*/
/*    background-color: white;*/
/*    height: 60%;*/
/*}*/

/*.col-sm-4{*/
/*    border: 2px solid black;*/
/*}*/

/*ul.navmenu {*/
/*    list-style-type:none;*/
/*    margin:0;*/
/*    padding:0;*/
/*    width:300px;*/
/*    background-color:#f1f1f1;*/
/*}*/

/*ul.navmenu li a {*/
/*    display:block;*/
/*    color:#000;*/
/*    padding:8px 16px;*/
/*    text-decoration:none;*/
/*}*/

/*ul.navmenu li:hover a {*/
/*    background-color:#555;*/
    
/*}*/

img {
  width: 90px;
  height: 90px;
}

.rotate {
  animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

