.green-button{
    margin-top: 200px;
    background-color: lightgreen;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.screen{
    height: 300px;
    width: 300px;
    background-color: lightblue;
    margin-top: 100px;
}

.row{
    height: 100px;
}