.preloader{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.preloader:before{
    z-index: 1000;
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 2s;
}

.preloader.complete:before{
    left: -50%;
}

.preloader:after{
    z-index: 1000;
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 2s;
}

.preloader.complete:after{
    z-index: 1000;
    right: -50%;
}



body{
	background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("https://wallpaperplay.com/walls/full/6/3/7/58401.jpg");
	background-position: center;
    color: black;
    font-size: 14px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
}

.heading{
    margin-top: 10vh;
    text-align: center;
    color: white;
}

.gameboy{
    border: 3px solid #626979;
    border-bottom-right-radius: 15%;
    background-color: #D8D9D4;
    max-width: 684px;
    max-height: 1200px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 15vh;
}

.top-controls-gameboy{
    background-color: #D8D9D4;
    height: 5%;
}

.grey-trim{
    border: 3px solid #626979;
}

.screen-section{
    margin-top: 5%;
    height: 40%;
}


.screen-border{
    background-color: #6B6A72;
    border: 2px solid #222222;
    border-bottom-right-radius: 15%;
}

.screen{
    margin: 5% 15% 0% 15%;
    height: 80%;
    background-color: #b2f700;
}

/*Combined from other test pages*/


.scoreRow{
    height: 15%;
    border: 1px solid black;
}

.gameRow{
    height: 55%;
    border: 1px solid black;
}

.instructionRow{
    height: 30%;
    border: 1px solid black;
}





#nintendo-logo{
    margin-top: 1%;
    height: 50%;
}

.arrow-keys{
    height: 120px;
}


.row1{
    height: 40px;
}
.row2{
    height: 40px;
}
.row3{
    height: 40px;
}

#point-1{
    background-color: #D8D9D4;
    border-color: black;
}
#point-2{
    background-color: black;
        border: grey solid;
        border-bottom-style: none;
}
#point-3{
    background-color: #D8D9D4;
        border-color: black;
}
#point-4{
    background-color: black;
        border: grey solid;
        border-right-style: none;
}
#point-5{
    background-color: black;
        border-color: black;
}
#point-6{
    background-color: black;
    border: grey solid;
    border-left-style: none;
}
#point-7{
    background-color: #D8D9D4;
        border-color: black;
}
#point-8{
    background-color: black;
    border: grey solid;
    border-top-style: none;
}
#point-9{
    background-color: #D8D9D4;
        border-color: black;
}

#middle-key{
    position: relative;
    height: 20px;
    background-color: #151312;
    border-radius: 100%;
}

#a-button{
    border-radius: 60%;
    background-color: #994a50;
    height: 60px;
}

#b-button{
    border-radius: 60%;
    background-color: #994a50;
    height: 60px;
}

#start-buttons{
    background-color: #D8D9D4;
    height: 100px;
    margin-top: 50px;
}

#select-button{
    margin-top: 40px;
    height: 10px;
    background-color:grey;
    border-radius: 30%;
}

#start-button{
    margin-top: 40px;
    height: 10px;
    background-color: grey;
    border-radius: 30%;
}

#nintendo-corner{
    height: 130px;
}


.black-line{
    background-color: #D8D9D4;
    height: 100px;
}

#grill{
    margin-top: 75px;
    background-color: black;
}

ul.navmenu {
    list-style-type:none;
    margin:0;
    padding:0;
    width:300px;
    background-color:#f1f1f1;
}

ul.navmenu li a {
    display:block;
    color:#000;
    padding: 8px 16px;
    text-decoration:none;
    border: 1px solid black;
}
