body{
    background-color: #D8D9D4;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.preloader{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #000;*/
    transition: 1s;
}

.preloader:before{
    z-index: 1000;
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 2s;
}

.preloader.complete:before{
    left: -50%;
}

.preloader:after{
    z-index: 1000;
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 2s;
}

.preloader.complete:after{
    z-index: 1000;
    right: -50%;
}

.top-gameboy{
    height: 5vh;
    background-color: #D8D9D4;
    
}

.battleground{
    height: 30vh;
    background-color: white;
    border: 5px solid black;
    border-bottom: 0px;
}

.text-bar{
    border: 5px solid black;
    height: 20vh;
    background-color: white;
}

#gameboy-logo{
    width: 60vw;
}


/*// Pokemon font was imported from this github https://github.com/Superpencil/pokemon-font */

p{
  font-size: 50px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
}

button{
    margin-top: 100px;
}

.dark-grey-background{
    border-bottom-right-radius: 15%;
    background-color: #6B6A72;
    padding: 10%;
}


/*#loading-overlay{*/
/*    color: white;*/
/*    background-color: black;*/
/*    margin-top: 30vh;*/
/*    text-align: center;*/
/*}*/




